/* styles.css */

* {
	font-family: Arial;
}

body {
	color: white;
}

.HomePage-bg {
	background-image: url("../img/ToyDinosaurs.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}
