/* styles.css */

* {
	font-family: Arial;
}

body {
	color: white;
}

.homepage-bg {
	background-image: url("../img/ToyDinosaurs.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.Tyranno-bg {
    background-image: url("../img/PK_TRex.png");
    background-size: cover;
    background-position: top;
}
